* {
  box-sizing: border-box;
  font-family: "Old Standard TT", sans-serif !important;
}

body {
  background-color: #dcdcdc;
}

.page {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.BrainhubCarousel__slide {
  margin-right: 0;
  padding-right: 0;
}
